html
    head
        title= 'Ready for Real Life - Soft and Gentle'
        include meta-tags.pug
        style(type="text/css").
            body {
                text-align: center;
            }
            img {
                margin: 0 auto;
            }
body
    img(src=gifPath, style={margin: '0 auto'})
    include google-analytics.pug
