html
    head
        title= 'Ready for Real Life - Soft and Gentle'
        style(type="text/css").
            body {
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                margin: 20px 0;
            }
body
    h2 There was a problem with your gif, sorry. Please try again.
