meta(property="fb:app_id" content= facebookAppId)
meta(property="og:url" content= shareableUrl)
<!-- Facebook -->
meta(property="og:type" content="video")
meta(property="og:title" content="#ReadyForRealLife")
meta(property="og:description" content="I'm #ReadyForRealLife with @SoftandGentleUK! Play the quiz and see your everyday scene (chaos included!)")
meta(property="og:image" content= `${baseUrl}/dist/img/facebook-cover.png`)
meta(property="og:video" content= videoPath)
meta(property="og:video:width" content="512")
meta(property="og:video:height" content="288")
meta(property="og:video:type" content="video/mp4")
<!-- Twitter -->
meta(name="twitter:card" content="player")
meta(name="twitter:site" content="@SoftandGentleUK")
meta(name="twitter:title" content="#ReadyForRealLife")
meta(name="twitter:description" content="I'm #ReadyForRealLife with @SoftandGentleUK! Play the quiz and see your everyday scene (chaos included!)")
meta(name="twitter:image" content= `${baseUrl}/dist/img/twitter-thumb.png`)
meta(name="twitter:player" content=baseUrl + '/server/share/twitter/player/' + gifId)
meta(name="twitter:player:width" content="512")
meta(name="twitter:player:height" content="288")
meta(name="twitter:player:stream" content= videoPath)
meta(name="twitter:player:stream:content_type" content="video/mp4")
