.btn {
    border: 1px solid #555559;
    color: #555559 !important;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin-top: 16px;
    min-width: 180px;
    padding: 10px 15px;
    transition: background-color 0.2s, border 0.2s, color 0.2s, opacity 0.2s ease-in-out;
    -ms-transition: background-color 0.2s, border 0.2s, color 0.2s, opacity 0.2s ease-in-out;
    -moz-transition: background-color 0.2s, border 0.2s, color 0.2s, opacity 0.2s ease-in-out;
    -o-transition: background-color 0.2s, border 0.2s, color 0.2s, opacity 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s, opacity 0.2s ease-in-out;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.btn.white {
    border: 1px solid #fff;
    color: #fff !important;
}

.btn:hover {
    background-color: #555559 !important;
    color: #fff !important;
    border: 1px solid transparent;
}

.btn--share,
.btn--close {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    overflow: visible;
    padding: 0 3%;
    user-select: none;
    vertical-align: middle;
}
