/**
 * Global color palette
 * =================================
 */

// Theme colors
$green:        #abd9db;
$purple:       #a95aa0;
$pink:         #f5b9bb;
$dark-pink: #e77998;
$blue:         #cfe1ee;
$turq:         #7cd5d0;
$mauve:        #d3c4d8;
$gray:         #56565a;

// Common colors
$color-text :       gray;
$color-bg:          #f1f1f1;


