.content-block {
    display: table;
    margin: 30px auto;
    position: relative;
    padding: 0;
    width: 100%;

    @media (min-width: 768px) {
        padding: 2.5% 10%;
    }


    .content-block--contain {
        display: block;
        display: table;
        margin: 0 auto;
        margin: 0 auto;
        max-width: 1200px;
        padding: 3%;
        vertical-align: middle;
    }

    &__img,
    &__copy {
        display: block;
        padding: 2%;
        width: 100%;
        margin: 30px auto;
        
        @media (min-width: 768px) {
            display: inline-block;
            width: 48%;
            vertical-align: middle;
        }
    }

    &__img img {
        width: 100%;
    }
}