.fluidVideo {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; 

    // // 4:3 aspect ratio
    &--4-3 {
        padding-bottom: 75%;
    }
    .play_btn {
        display: block;
        height: auto;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        left: 0;
        right: 0;
        z-index: 99;

        @include respond-min(mid) {
            width: 30%;
        }

        @include respond-min(wide) {
            width: 30%;
        }

        &.fadeOut {
            pointer-events: none;
        }
    }
}

.fluidVideo-item,
.fluidVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}