body {
}

// header .nav li a {
//     font-size: $custom-base0.882em !important;
// }

#root {
    position: relative;

    .content {
        margin-top: 30px;
    }
}



h2.purple:after,
h3.purple:after,
h2.pink:after,
h3.pink:after,
h2.green:after,
h3.green:after {
    content: '';
    display: block;
    height: 40px;
    margin: 10px auto 10px auto;
    width: 240px;
    position: relative;
}

h2.purple:after,
h3.purple:after {
    background: url('#{$img-path}/brush-stroke--purple.png') center center no-repeat;
    background-size: 70%;
}

h2.green:after,
h3.green:after {
    background: url('#{$img-path}/brush-stroke--green.png') center center no-repeat;
    background-size: 70%;
}

h2.pink:after,
h3.pink:after {
    background: url('#{$img-path}/brush-stroke--pink.png') center center no-repeat;
    background-size: 70%;
}

.en-scroll {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: hover;
    animation-timing-function: ease-in-out;
    font-size: 1vw;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    display: none;

    span {
        max-width: 50%;
        display: inline-block;

        @include respond-min(huge) {
            max-width: 60% !important;
        }
    }

    @include respond-min(wide) {
        display: block;
    }

    &--green {
        &:before,
        &:after {
            background: url('#{$img-path}/en-arrow-green.png') center center no-repeat;
            background-size: contain;
        }
    }
    &--pink {
        &:before,
        &:after {
            background: url('#{$img-path}/en-arrow-pink.png') center center no-repeat;
            background-size: contain;
        }
    }
    &:before,
    &:after {
        content: '';
        display: inline-block;
        height: 41px;
        margin: 0 20px;
        position: relative;
        vertical-align: top;
        width: 41px;
    }
    &:after {
        transform: rotateY(180deg);
    }
}


@-webkit-keyframes hover {
    0% {
        transform:translateY(25px);
    }
    50% {
        transform:translateY(40px);
    }
    100% {
        transform:translateY(25px);
    }
}

@keyframes hover {
    0% {
        transform:translateY(25px);
    }
    50% {
        transform:translateY(40px);
    }
    100% {
        transform:translateY(25px);
    }
}



/* Animation */

.fadeInUp-enter {
    opacity: 0;
}

.fadeInUp-enter.fadeInUp-enter-active {
    opacity: 1;
    transition: all 0.8s ease-in-out;
}

.fadeInUp-leave {
    opacity: 1;
}

.fadeInUp-leave.fadeInUp-leave-active {
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.fadeInUp-appear {
    opacity: 0;
}

.fadeInUp-appear.fadeInUp-appear-active {
    opacity: 1;
    transition: all 0.8s ease-in-out;
}
