.hero {
    background: url('#{$img-path}/hero-background--mobile.png') center 30px no-repeat;
    background-size: cover;
    margin-top: 0;
    text-align: center;
    padding-bottom: 0;

    @include respond-min(mid) {
        background: url('#{$img-path}/hero-background--mobile.png') center 0 no-repeat;
        background-size: cover;
    }
    h1 {
        background: url('#{$img-path}/h1-background--mobile.png') no-repeat;
        background-position: 30px top;
        background-size: cover;
        font-family: 'edoregular';
        font-size: 10vw;
        line-height: 1;
        margin: 15% 0 0;
        padding: 3%;
        text-align: center;

        @include respond-min(mid) {
            background: url('#{$img-path}/h1-background.png') no-repeat;
            background-size: 100% 100%;
            font-size: 4vw;
            margin: 10% 0 0;
        }

        @include respond-min(huge) {
            margin: 5% 0 0;
        }

        span {
            color: $purple;
            display: inline-block;
            // font-size: 15vw;

            @include respond-min(mid) {
                // font-size: 6vw;
            }
        }
    }
}
