.modal {
    background: #fff;
    max-height: 50vh;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: fixed;
    padding: 7%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    z-index: 150;


    @media (min-width: 768px) {
        padding: 4%;
    }
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2%;
    font-size: 1.5em;
}

.backdrop {
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 130;
}
