.product-range {
    text-align: center;
    padding: 3%;
}

.product-item {
    display: block;
    position: relative;
    h3 {
        margin: 0 auto;
        @include respond-min(mid) {
            width: 50%;
        }
        &:after {
            background-size: 100%;
            position: relative;
            width: 100%;
            @media (min-width: 438px) {
                width: 60%;
            }
            @include respond-min(mid) {
                right: 10px;
                width: 133.5px;
            }
        }
    }
    p {
        display: block;
        margin: 0 auto 24px;
        text-align: center;
        width: 90%;
        @include respond-min(mid) {
            width: 80%;
        }
    }

    .product-description {
        text-align: left;

        @include respond-min(mid) {
            text-align: center;
        }
    }
    
    @include respond-min(mid) {
        display: inline-block;
        margin: 0 3%;
        max-width: 485px;
        vertical-align: bottom;
        width: 485px;
        width: 38%;
    }
    img {
        height: auto;
        margin-bottom: 10px;
        max-width: 100%;
        width: 50%;
    }
}
