.product-offer {
    text-align: center;
    background: url('#{$img-path}/product-offer-background--mobile.png') center center no-repeat;
    background-size: cover;

    @include respond-min(mid) {
        background: url('#{$img-path}/product-offer-background.png') center center no-repeat;
    }

    h2 {
        font-weight: 200;
        font-size: 7vw;

        @include respond-min(mid) {
            font-size: 30px;
        }

        @include respond-min(wide) {
            font-size: 3vw;
            margin: 15px 0 0 0;
        }
    }

    h3 {
        font-size: 9px;

        @include respond-min(mid) {
            font-size: 1vw;
        }

        @include respond-min(wide) {
            margin: 10px 0 15px 0;
        }
    }

    a {
        @include respond-min(wide) {
            margin: 25px 0;
        }
    }

    h2,
    h3,
    a {
        color: #fff;
        text-align: center;
        margin: 15px 0;
    }
}
