.quiz {
    height: auto;
    padding-bottom: 0;

    h2 {
        color: $green;
        font-size: 1.6em;
        margin: 10px auto;

        &:after {
            margin: 5px auto;
        }
    }

    .content-block--contain {
        max-height: 508px;
        background: url('#{$img-path}/gif_generator-background.png') center center no-repeat;
        background-size: cover;
        text-align: center;
        position: relative;
        overflow: hidden;

        @include respond-min(mid) {
            text-align: right;
        }

        @include respond-min(wide) {
            height: 510px;
            &.onehundred {
                background-size: 100%;
            }
        }

        @include respond-min(huge) {
            width: 100%;
        }

        .content-block--separator {
            display: block;
            width: 100%;

            &.copy {
                float: left;
                text-align: center;
                position: relative;
            }

            &.img {
                float: left;
                text-align: center;
                position: relative;
            }

            @include respond-min(wide) {
                display: inline-block;
                width: 50%;
            }
        }
    }
    .content-block__copy {
        position: relative;
        text-align: center;
        background: #fff;
        display: block;

        @include respond-min(narrow) {
            display: inline-block;
        }

        @include respond-min(mid) {
            margin: 1%;
            min-width: 300px;
        }

        @include respond-min(wide) {
            margin: 10% 1% 1%;
            min-width: 310px;
        }

        .content-block__paragraph {
            @include respond-min(mid) {
                font-size: 2vw;
                width: 90%;
                margin: 0 auto 10px auto;
            }

            @include respond-min(wide) {
                font-size: 17px;
                width: 100%;
            }
        }

        .content-block__terms {
            margin: 8px auto;
            width: 90%;
            font-size: 11px;
            line-height: 12px;
            overflow: hidden;
        }

        &.facebook {
            & > div {
                padding: 2%;

                button {
                    display: block;
                    margin: 0 auto;
                }

                .btn {
                    margin: 5% 0;
                }
            }
        }

        /* Result Component */

        &.result {
            width: auto;
            background: none;
            margin: 0;
            padding: 1%;

            @include respond-min(wide) {
                margin: 20px 0 0;
            }

            @include respond-min(huge) {
                margin: 20px 0 0;
            }

            >div {
                background: white;
                padding: 2%;
                box-shadow: 7px 7px 1px -5px #9eb5b6;

                &.cta {
                    background: inherit;
                    font-size: 14px;
                    margin: 3% 0 0 0;
                    box-shadow: none;

                    a {
                        display: inline-block;
                        margin: 2%;
                    }
                }

                .img-- {
                    &result {
                        width: 100%;
                        height: auto;
                    }
                    &share {
                        float: left;
                        margin: 3% 5% 0 5%;
                        width: 25%;
                        max-width: 148px;
                        filter: blur(0);
                    }
                }

                .share {
                    overflow: hidden;
                    opacity: 1;
                    transition: opacity 0.5s ease-in-out 0;

                    .btn--share {
                        float: left;
                        margin: 5% 0;

                        &::before {
                            color: $green;
                            font-size: 30px;
                        }
                    }

                    &.hide {
                        opacity: 0;
                        pointer-events: none;
                    }
                }

                .btn--replay {
                    color: white;
                    border-radius: 70px;
                    height: 70px;
                    width: 70px;
                    background: $pink;
                    position: absolute;
                    bottom: 30%;
                    right: 4%;

                    &::before {
                        color: white;
                        display: block;
                        transform: scale(-1, 1) rotate(270deg);
                        font-size: 25px;
                    }

                    p {
                        color: white;
                        display: block;
                        font-size: 13px;
                        text-transform: uppercase;
                        margin: 0;
                    }

                    @include respond-min(mid) {
                        border-radius: 90px;
                        height: 90px;
                        width: 90px;
                        right: 6%;

                        &::before {
                            font-size: 30px;
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .content-block__img.start ~ .paper,
    .content-block__copy.result ~ .paper,
    .content-block__copy.facebook ~ .paper {
        display: none;
    }
    .content-block__img.question-block ~ .paper {
        display: block;
    }


    .paper {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 0;
        pointer-events: none;
        z-index: 0;

        height: 400px;
        width: 300px;

        @include respond-min(narrow) {
            height: 460px;
            width: 360px;
        }
        @include respond-min(wide) {
            top: -10px;
        }
    }

    .content-block__img {
        position: relative;
        text-align: center;
        width: 100%;

        height: 400px;
        width: 300px;

        margin: 0;

        @include respond-min(narrow) {
            height: 460px;
            width: 360px;
        }

        &.start {
            height: 350px;
            padding-right: 0;
            padding-bottom: 0;
            margin: 0;
            width: 100%;

            @include respond-min(narrow) {
                height: 400px;
            }

            @include respond-min(lower-mid) {
                height: 400px;
            }

            img {
                cursor: pointer;
                display: block;

                position: absolute;
                bottom: -13px;
                right: -10px;
                max-width: 450px;

                @include respond-min(narrow) {
                    right: -30px;
                }

                @include respond-min(mid) {
                    bottom: -40px;
                }

                @include respond-min(wide) {
                    right: -50px;
                    bottom: -34px;
                    max-width: 520px;
                }

                @include respond-min(huge) {
                    bottom: -72px;
                }
            }
        }

        &.question-block {
            z-index: 2;
            display: block;
            margin: 0 auto;

            @include respond-min(mid) {
                background-size: contain;
                min-height: 420px;
            }

            .paper-corner {
                bottom: 12px;
                position: absolute;
                right: -2px;
                width: 24px;
                z-index: 9999;

                @include respond-min(narrow) {
                    bottom: 18px;
                }

                @include respond-min(wide) {
                    bottom: 29px;
                    right: -1px;
                }
            }

            &>div {
                left: 0;
                position: relative;
                top: 30px;

                @include respond-min(wide) {
                    top: 20px;
                }

                h3 {
                    color: $green;
                    margin: 0;
                }
            }

            /* Result Component */
            &.result {
                padding: 1.5rem 2.5rem;
                background: #fff;
                span {
                    display: block;
                }
            }
            /* QuestionCount Component */
            .questionCount {
                font-size: 14px;
                line-height: 1.5;
                h3 {
                    &:after {
                        background: url('#{$img-path}/brush-stroke--green--small.png') center center no-repeat;
                        background-size: contain;
                        content: '';
                        display: block;
                        height: 18px;
                        margin: 0 auto;
                        width: 80px;
                    }
                }
            }
            /* Question Component */
            .question {
                line-height: 1.2;
                margin: 0 auto;
                padding: 13px 0;
                width: 82%;
                height: 77px;
                font-size: 4vw;
                max-width: 235px;

                @include respond-min(narrow) {
                    font-size: 3vw;
                    width: 72%;
                }

                @include respond-min(lower-mid) {
                    height: 89px;
                    width: 82%;
                    max-width: 276px;
                }

                @include respond-min(mid) {
                    font-size: 17px;
                    max-width: 279px;
                }
            }
            /* Quiz and AnswerOption Component */
            .answerOptions {
                margin: 0 auto;
                overflow: hidden;
                position: relative;
                padding: 0;
                width: 80%;

                .answerOption {
                    display: inline-block;
                    list-style: none;
                    margin: 1% 1% 0 1%;
                    width: 108px;
                    height: 108px;

                    @include respond-min(narrow) {
                        width: 130px;
                        height: 130px;
                    }
                    @include respond-min(lower-mid) {
                        width: 120px;
                        height: 120px;
                    }

                    .imageRadio {
                        display: block;
                        position: relative;
                        margin: 0 auto;
                        height: 100%;
                        width: 100%;
                        &>input {
                            position: absolute;
                            /* Remove input from document flow */
                            /* HIDE RADIO */
                            visibility: hidden;
                            /* Makes input not-clickable */
                        }
                        .radioCustomLabel {
                            cursor: pointer;
                            display: block;
                            font-size: 14px;
                            // font-size: 4vw;
                            line-height: 1.2;
                            padding: 0 15px;
                            width: 100%;
                            margin-top: -25%;
                            top: 50%;
                            position: absolute;
                        }
                    }
                    &.quizPink {
                        background: $pink url('#{$img-path}/brush-stroke--answer1.png') center center no-repeat;
                        background-size: 90%;
                    }
                    &.quizTurq {
                        background: $turq url('#{$img-path}/brush-stroke--answer2.png') center center no-repeat;
                        background-size: 90%;
                    }
                    &.quizBlue {
                        background: $blue url('#{$img-path}/brush-stroke--answer3.png') center center no-repeat;
                        background-size: 90%;
                    }
                    &.quizMauve {
                        background: $mauve url('#{$img-path}/brush-stroke--answer4.png') center center no-repeat;
                        background-size: 90%;
                    }
                }
            }
            /* Animation */
            .fade-enter {
                opacity: 0;
            }
            .fade-enter.fade-enter-active {
                opacity: 1;
                transition: opacity 0.5s ease-in-out 0.3s;
            }
            .fade-leave {
                right: 0;
                left: 0px;
                top: 36px;
                opacity: 1;
                position: absolute;

                @include respond-min(narrow) {
                    left: 0px;
                    top: 38px
                }

                @include respond-min(lower-mid) {
                    left: 0px;
                    top: 41px
                }

                @include respond-min(mid) {
                    left: 0px;
                    top: 44px
                }

                @include respond-min(wide) {
                    left: 0px;
                    top: 28px
                }

                @include respond-min(huge) {
                    left: 0px;
                    top: 30px
                }
            }
            .fade-leave.fade-leave-active {
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
            }
            .fade-appear {
                opacity: 0;
            }
            .fade-appear.fade-appear-active {
                opacity: 1;
                transition: opacity 0.5s ease-in-out;
            }
        }
    }
}
