.science-animation {
    .content-block--contain {
        background: #fdf5f7;
        display: block;
        display: table;
        margin: 0 auto;
        margin: 0 auto;
        max-width: 1200px;
        padding: 3%;
        vertical-align: middle;
    }
    h2 {
        color: $dark-pink;
    }
    .content-block__img {
        background: #fff;
        box-shadow: 5px 5px 8px rgba(136,136,136, 0.4);
        position: relative;
        padding: 1.2%;
    }
    .content-block__copy {
        background: #fff;
        text-align: center;
        @media (min-width: 768px) {
            margin: 0 0 0 2%;
        }
    }

    .vidDisabled ~ .fluidVideo-item {
        pointer-events: none;
    }
}
