/**
 * Typography
 * =================================
 * - Base
 * - Paragraphs
 * - Headings
 * - Type sizes
 * - Misc
 * - Utilities
 *
 * Body font size, leadings etc have been set in _variables.scss
 *
 * See http://modularscale.com for
 *
 */

body {
    font-family: $font-family-base;
    font-size: $base;
    color: $color-text;
}

/**
 * Paragraphs
 */
p, label {
    font-family: $font-family-base;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: $baseline;
    font-weight: 400;
    color: #555555;
    -webkit-font-smoothing: antialiased;
    line-height: 25px;
}

a {
    color: $color-text;
    text-decoration: none;

    &:visited {
        color: $color-text;
    }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: $font-family-headings;
    font-weight: 300;
    line-height: $line-height-headings;
    text-rendering: optimizelegibility; // Fix the character spacing for headings
    margin-top: 0;
    margin-bottom: $baseline;

    small {
        font-weight: 300;
    }
}

// Use the helper classes to emulate styles for another element
// For example: h3.h1 or h3.alpha
h1,
.h1,
.alpha {
    font-size:  15vw;
    margin-bottom: $baseline * 2;
    @include respond-min(mid) {
        font-size:  3.294em;
        font-size: 6vw;
    }
}

h2,
.h2,
.beta {
    font-size:  2.059em;
    font-size: 9vw;

    @include respond-min(mid) {
        font-size:  2.059em;
    }
}

h3,
.h3,
.gamma {
    font-size:  $mid;

    @include respond-min(mid) {
        font-size:  24px;
    }
}

// Only give these headings a margin-top if they are after other elements
* + h1,
* + .h1,
* + .alpha,
* + h2,
* + .h2,
* + .beta,
* + h3,
* + .h3,
* + .gamma,
* + h4,
* + .h4,
* + .delta {
    margin-top: $baseline;
}

small {
    font-size: 80%;
}

/**
 * Miscellaneous
 */

// Emphasis
strong,
b {
    font-weight: $font-weight-bold;
}

em,
i {
    font-style: italic;
}

// https://justmarkup.com/log/2015/07/dealing-with-long-words-in-css/
.hyphenate {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
