.range {
    text-align: center;
    padding: 3%;

    &--background {
        display: none;
        @include respond-min(mid) {
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            top: 25%;
            z-index: -1;
        }
        @include respond-min(wide) {
            top: 15%;
        }
        @include respond-min(huge) {
            top: 0;
        }
    }

    &--background--mobile {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 15%;
        z-index: -1;

        @include respond-min(mid) {
            display: none;
        }
    }

    h2 {
        color: $purple;
    }
    .content-block__paragraph {
        margin: 0 auto 25%;
        width: 90%;
        @include respond-min(mid) {
            display: block;
            margin: 0 auto 5%;
            width: 45%;
        }
    }
}

.range__item {
    background: #fff;
    box-shadow: 2px 2px 11px #888;
    display: inline-block;
    margin: 0 0 40px;
    position: relative;
    padding: 0.7%;
    vertical-align: bottom;
    width: 100%;
    .play_btn {
        display: block;
        height: auto;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 20%;
        left: 0;
        right: 0;
    }
    img {
        display: block;
        cursor: pointer;
        height: auto;
        width: 100%;
    }
    @include respond-min(mid) {
        margin: 10px;
        width: 30%;
    }
}
